/* Default styles for all screens */
* {
    font-size: 30px;
}

p {
    color: #ffffff;
    font-size: 40px;
}

blockquote {
    color: #f2f2f2;
    font-size: 40px;
}

body {
    background-color: #1f5446;
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

section {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
}

.artigo1 {
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.image-container img {
    width: 50%; /* Define a largura das imagens */
    height: 600px;
    width: 600px;
}


/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .artigo1 p {
        font-size: 20px; /* Ajustar o tamanho da fonte para o conteúdo do artigo 1 em telas menores */
    }

    .artigo1 blockquote {
        font-size: 20px; /* Ajustar o tamanho da fonte para as citações do artigo 1 em telas menores */
    }

    .artigo1 .image-container img {
        width: 100%; /* Fazer as imagens ocuparem a largura total do contêiner */
        height: auto; /* Manter a proporção */
        margin-bottom: 20px; /* Reduzir a margem inferior entre as imagens */
    }

    /* Estilos adicionais para o rodapé ou outras seções do artigo, se necessário */
}
